name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

           - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: AllociousFranklin
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=blue&color_dots=#ebedf0,#c6e48b,#7bc96f,#239a3b,#196127
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#1f6feb


      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
